In [18]:
import duckdb as ddb
import pandas as pd

In [19]:
conn = ddb.connect("../airquality.db")

IOException: IO Error: File is already open in
C:\Users\Administrator\AppData\Local\Programs\Python\Python312\python.exe (PID 19632)

In [ ]:
df = conn.query("select * from raw.air_quality_data where parameter in ('so2','pm10','pm25') ").to_df()
df

,location_id,sensor_id,location,datetime,LAT,lon,parameter,units,value,month,year,ingestion_datetime
0,222830,1292732,Sens6_855b-235252,2021-04-14 08:34:16,35.147285,33.415157,pm10,µg/m³,57.200,04,2021,2024-11-28 14:30:19.789
1,222830,1292732,Sens6_855b-235252,2021-04-14 08:38:16,35.147285,33.415157,pm10,µg/m³,34.200,04,2021,2024-11-28 14:30:19.789
2,222830,1292732,Sens6_855b-235252,2021-04-14 08:46:16,35.147285,33.415157,pm10,µg/m³,40.700,04,2021,2024-11-28 14:30:19.789
3,222830,1292732,Sens6_855b-235252,2021-04-14 08:52:18,35.147285,33.415157,pm10,µg/m³,24.700,04,2021,2024-11-28 14:30:19.789
4,222830,1292732,Sens6_855b-235252,2021-04-14 08:54:21,35.147285,33.415157,pm10,µg/m³,44.000,04,2021,2024-11-28 14:30:19.789
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,222830,1292729,Sens6_855b-235252,2021-04-28 00:01:51,35.147285,33.415157,um100,particles/cm³,0.010,04,2021,2024-11-28 14:30:57.858
2204,222830,1292729,Sens6_855b-235252,2021-04-28 00:03:40,35.147285,33.415157,um100,particles/cm³,0.016,04,2021,2024-11-28 14:30:57.858
2205,222830,1292729,Sens6_855b-235252,2021-04-28 00:15:41,35.147285,33.415157,um100,particles/cm³,0.015,04,2021,2024-11-28 14:30:57.858
2206,222830,1292729,Sens6_855b-235252,2021-04-28 00:21:54,35.147285,33.415157,um100,particles/cm³,0.008,04,2021,2024-11-28 14:30:57.858
2207,222830,1292729,Sens6_855b-235252,2021-04-28 00:25:46,35.147285,33.415157,um100,particles/cm³,0.003,04,2021,2024-11-28 14:30:57.858

In [ ]:
df.describe()

,location_id,sensor_id,datetime,LAT,lon,value,year,ingestion_datetime
count,2208.0,2.208000e+03,2208,2.208000e+03,2208.000000,2208.000000,2208.0,2208
mean,222830.0,1.292732e+06,2021-04-27 03:50:02.375000,3.514729e+01,33.415157,14.596284,2021.0,2024-11-28 14:30:38.823500
min,222830.0,1.292729e+06,2021-04-14 08:34:16,3.514728e+01,33.415157,0.003000,2021.0,2024-11-28 14:30:19.789000
25%,222830.0,1.292730e+06,2021-04-27 05:23:38.750000,3.514728e+01,33.415157,0.148500,2021.0,2024-11-28 14:30:19.789000
50%,222830.0,1.292732e+06,2021-04-27 15:50:14.500000,3.514728e+01,33.415157,7.150000,2021.0,2024-11-28 14:30:38.823500
75%,222830.0,1.292733e+06,2021-04-27 20:39:08.250000,3.514728e+01,33.415157,17.500000,2021.0,2024-11-28 14:30:57.858000
max,222830.0,1.292734e+06,2021-04-28 00:25:46,3.514728e+01,33.415157,953.300000,2021.0,2024-11-28 14:30:57.858000
std,0.0,1.708212e+00,NaN,7.107037e-15,0.000000,46.492050,0.0,NaN